<% if !user_signed_in? %>
    <style>
        body { 
            background:  linear-gradient(
                rgba(0,0,0, 0.3),
                rgba(0,0,0, 0.3)
                ), url("/nampit bg.jpg") no-repeat center center fixed
           
           ; -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        h1 {
            color: white;
            font-weight: bold;
        }
        h2 {
            color: white;
            font-weight: bold;
        }
        .container-index {
            margin-right: 15%;
            margin-left: 15%;
        }
        .text {
            color: white;
            font-weight: 400;
            font-size: 125%;
        }
        .input {
            color: black;
        }
        .footer-links {
            text-align: center;
            color: white;
            margin-top: 1%;
            font-size: 85%;
        }
        .log-in {
            float: right;
            color: white;
            width: 300px;
            height: 200px;
            margin-top: 7.5%;
            background:  linear-gradient(
                rgba(0,0,0, 0.3),
                rgba(0,0,0, 0.3)
                )
        }
          .sign-up {
            float: right;
            color: white;
            width: 300px;
            height: 300px;
            background:  linear-gradient(
                rgba(0,0,0, 0),
                rgba(0,0,0, 0)
                )
        }
    </style>
        <div class="container-index row"> 
            <div class="col-sm-6">
            <h1>Welcome to NAMPIT.</h1>
            <p class="text">
               NAMPIT - Notes About My Players' Info Today <br>
               <br>
               The Social Network for Fantasy Sports. <br>
               Connect with friends & follow your favorite players. 
               Share roster ideas. See who's trending. 
               Collaborate on who to start, bench, and trade. 
              </p>
          </div>
           <div class="col-sm-6">
                <div class="log-in panel">
                        <h2>Login</h2>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :email %><br />
                    <div class="input">
                    <%= f.email_field :email, autofocus: true %>
                  </div>
                        </div>

                  <div class="field">
                    <%= f.label :password %><br />
                     <div class="input">
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>
                  </div>


                      <div class="actions">
                   
                          <%= f.submit "Log in", class: "btn btn-primary" %>
                   
                 </div>
                <% end %>

                
                </div>
                
                <div class="sign-up panel">
                    <h2>Sign up for free</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
     <div class="input">
    <%= f.text_field :username, autofocus: true %>
  </div>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
     <div class="input">
    <%= f.email_field :email %>
  </div>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
     <div class="input">
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
     <div class="input">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
    </div>
  <div class="actions">
 
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
   
  </div>
<% end %>


                </div>
            </div>
        <div class="col-sm-12">
         <p class="footer-links"> About  Help  Terms  Privacy  Advertise  Partner  © 2017 NAMPIT 
             
         </p>
         </div>
        </div>
<% else %>

    <script>document.location = "/home"</script>

<% end %>
